/* Estilos para o cabeçalho e navegação */
header {
    background-color: #333;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para o banner */
#banner {
    background-image: url('banner.jpg');
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

/* Estilos para as seções */
section {
    padding: 20px;
}

section h2 {
    margin-bottom: 10px;
}

/* Estilos para o rodapé */
footer {
    background-color: #333;
    padding: 10px;
    color: #fff;
    text-align: center;
}

